Source: stampzilla-server
Section: devel
Priority: extra
Maintainer: Jonathan Grimmtjärn <stamp@stamp.se>
Build-Depends: debhelper (>= 9.1.0), golang-go
Standards-Version: 3.9.4

Package: stampzilla-server
Architecture: any
Description: Awesome homeautomation
 Awesome homeautomation

Package: stampzilla-server-dev
Architecture: all
Description: Awesome homeautomation - development package
 Awesome homeautomation

