.formModal {
    table {
        th {
            border-top: 0 !important;
            padding-top: 0 !important;
        }

        .reason {
            border-top: 0;
            margin-top: 0;
            padding-left: 30px;
            background: #eee;
            box-shadow: inset 0px 5px 15px -5px rgba(0,0,0,0.75);
        }
    }
    :global(.field-description) {
        color: #999;
    }
    :global(.modal-body) {
        dl:last-of-type {
            margin-bottom: 0 !important;

            dd:last-of-type {
                margin-bottom:0 !important;

                p:last-of-type {
                    margin-bottom:0 !important;
                }
            }
        }
    }
}

.footerContainer {
    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > button,
        & > :global(.btn-group) {
          margin-left: 1rem;
        }
    }
}
