.saved-state-picker {
  background: #f0f0f0;

  font-weight: 400;
  color: #212529;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.saved-state-modal {
  .modal-content {
    border-top: none rgb(222, 226, 230) !important; 
    border-right-color: rgb(222, 226, 230) !important; 
    border-bottom-color: rgb(222, 226, 230) !important; 
    border-left-color: rgb(222, 226, 230) !important;
  }
}




.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20000;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  z-index: 20000;

  .modal-content{
    .nav-link {
      cursor:pointer;
      outline: none;
    }
  }
}

.ReactModal__Content--after-open {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}
